*{
    list-style: none;
    text-decoration: none;  
}

a{
    text-decoration: none
}

@import "tailwindcss";

.nav-wrapper{
}

a{
    color: var(--grey-light);
    transition: color 200ms;
}

a:hover{
    color: rgb(40, 146, 253)
}